.action-btn {
    background-color: var(--brand-pink);
    border: 2px var(--brand-pink) solid;
    color: var(--brand-white);
    border-radius: var(--brand-border);
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    padding: 5px 10px;
    min-width: 100px;
}

.action-btn:hover {
    color: var(--brand-pink);
    background-color: var(--brand-white);
}

.disabled-btn {
    cursor: default;
    opacity: 0.8;
}