.algoui-logo-container {
    background-color: var(--brand-white);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 27px;
    width: 27px;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .logo-circle {
            display: flex;
            border-radius: 50%;
            background-color: white;
            border: 1px var(--brand-purple) solid;
            height: 7px;
            width: 7px;
            z-index: 2;
        }

        .circle-1 {
            animation: circle1 1s infinite;
            animation-delay: 1s;
            
            @keyframes circle1 {
                0% {
                    background-color: var(--brand-white);
                }

                100% {
                    background-color: var(--brand-purple);
                }
            }
        }

        .circle-2 {
            animation: circle2 1.2s infinite;
            animation-delay: 1s;
            
            @keyframes circle2 {
                0% {
                    background-color: var(--brand-white);
                }
                
                100% {
                    background-color: var(--brand-purple);
                }
            }
        }

        .circle-5 {
            animation: circle5 1.4s infinite;
            animation-delay: 1s;
            
            @keyframes circle5 {
                0% {
                    background-color: var(--brand-white);
                }
                
                100% {
                    background-color: var(--brand-purple);
                }
            }
        }

        .circle-8 {
            animation: circle8 1.6s infinite;
            animation-delay: 1s;
            
            @keyframes circle8 {
                0% {
                    background-color: var(--brand-white);
                }
                
                100% {
                    background-color: var(--brand-purple);
                }
            }
        }

        .circle-9 {
            animation: circle8 1.8s infinite;
            animation-delay: 1s;
            
            @keyframes circle9 {
                0% {
                    background-color: var(--brand-white);
                }

                100% {
                    background-color: var(--brand-purple);
                }
            }
        }
    }

    .logo-line {
        position: absolute;
        background-color: var(--brand-purple);
    }
    
    .line-1 {
        top: 2px;
        left: 0;
        height: 2px;
        width: 50%;
    }

    .line-2 {
        height: 21px;
        width: 2px;
    }

    .line-3 {
        top: 23px;
        height: 2px;
        right: 0;
        width: 50%;
    }
}