.input-check {
    accent-color: var(--brand-purple);
    background-color: var(--brand-purple);
    color: var(--brand-purple);
    cursor: pointer;
    margin-left: 5px;
    height: 100%;
    width: 20px;
}