.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: 120px;
    
    .text {
        color: var(--brand-purple);
        font-size: 24px;
        font-weight: bolder;
        
        .special-text {
            color: var(--brand-pink);
        }
    }

    .icon {
        margin-left: 6px;
        height: 30px;
        width: 30px;

        path {
            fill: var(--brand-purple);
        }
    }
}