.scroll {
    scrollbar-color: var(--brand-purple) var(--brand-white);
    scrollbar-width: thin;
    overflow-x: none;
}

.scroll::-webkit-scrollbar {
    height: 5px;
    width: 10px;
    overflow-x: none;
}

.scroll::-webkit-scrollbar-track {
    background-color: var(--brand-white);
    margin-block: 0.25em;
    border-radius:  0.3em;
}

.scroll::-webkit-scrollbar-thumb {
    background: var(--brand-purple);
    border-radius: 0.3em;
}

.x-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

@media (min-width: 1024px) {
    .x-container {
        padding-left: 10px;
        padding-right: 10px;
        width:80%;
    }
}

@media (min-width: 1280px) {
    .x-container {
        width: 80%;
    }
}