* {
    --brand-pink: #ec4899;
    --brand-purple: #312e81;
    --brand-white: #ffffff;
    --brand-gray: #969696;
    --brand-error: #b41419;
    --brand-green: #43cf51;
    --brand-blue: #0c55c4;
    --brand-border: 5px;
    --mobile-bar: 55px
}