.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--brand-purple);
    padding-bottom: 60px;
    width: 100%;

    .footer {
        display: flex;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 35px;
        width: 100%;
    }

    .icon {
        display: flex;
        height: 25px;
        width: 25px;
    }

    .icon, .icon path {
        fill: white;
        width: 100%;
    }

    .my-networks {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .text-title {
            font-weight: bolder;
        }
        
        .other-networks {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            .external-link-icon {
                display: flex;
                justify-content: center;
                margin-right: 10px;
                
                .icon {
                    border-radius: 5px;
                }

                .world-icon {
                    height: 30px;
                    width: 30px;
                }

                .linkedin-icon {
                    margin-left: 2px;
                }
            }

            .external-link-icon:hover {
                .icon path {
                    fill: var(--brand-pink);
                }
            }
        }

        .my-email {
            display: flex;
            justify-content: center;
            margin-top: 5px;
            font-weight: bolder;

            .icon {
                margin-top: 2px;
                margin-right: 8px;
            }
        }
    }

    .developed-by {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 25px;
        font-weight: bolder;
        width: 100%;

        .top {
            display: flex;
            justify-content: center;
            align-items: center;

            .cog-icon {
                margin: 0 !important;
                height: 30px;
                width: 30px;
                max-width: 25px;
            }
        }

        .text {
            display: flex;
            justify-content: center;
        }
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bolder;
        margin-top: 35px;

        .text {
            margin-left: 5px;
        }

        .algoui-sletters {
            color: var(--brand-pink);
        }

        .icon {
            fill: white;
            margin-left: 5px;
            height: 25px;
            width: 25px;

            path {
                fill: var(--brand-white);
            }
        }
    }

    .footer-end {
        display: flex;
        font-weight: bolder;
        margin-top: 5px;
        font-size: 12px;
    }
}