.mobile-controls-container {
    display: flex;
    position: fixed;
    background-color: var(--brand-white);
    border-top: 2px var(--brand-purple) solid;
    bottom: 0;
    margin-bottom: var(--mobile-bar);
    flex-direction: column;
    height: 200px;
    width: 100%;
}