.mobile-controls-container {
    display: flex;
    position: fixed;
    background-color: var(--brand-white);
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    margin-bottom: var(--mobile-bar);
    padding: 20px 0;
    flex-direction: column;
    height: calc(100vh - var(--mobile-bar));
    width: 100%;
    z-index: 1000;
}