.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 60px;
    width: 100%;

    .navbar-wrapper {
        display: flex;
        height: 60px;
        background-color: var(--brand-white);
        width: 100%;
        transition: all 0.5s ease-in-out;

        .navbar, .navbar-scrolled {
            display: flex;
            height: 60px;
            justify-content: space-between;
            
            .nav-menu {
                margin-left: 10px;
            }
        }
        
    }
    
    .navbar-scrolled {
        justify-content: space-between;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        position: fixed;
        box-shadow: 0 0 10px var(--brand-purple);
        width: 100%;
    }
}