.navbar-container {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    height: 60px;
    width: 100%;

    .navbar-wrapper {
        display: flex;
        width: 100%;

        .navbar {
            border-bottom: 2px var(--brand-purple) solid;
            padding: 20px 0;
        }
    }
    
    .navbar-scrolled {
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .navbar-container {
        align-items: center;
        justify-content: center;

        .navbar-wrapper {
            background-color: var(--brand-white);

            .navbar {
                display: flex;
                justify-content: space-between;
                border-bottom: none;
                padding: 0 10px;
            }
        }
        
        .navbar-scrolled {
            top: 0;
            left: 0;
            right: 0;
            height: 60px;
            position: fixed;
            box-shadow: 0 0 10px var(--brand-purple);
        }
    }
    
}